BOperationsClient_BasharJebry/Connected Services/ServiceReferenceDBOperations/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3030/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FinalExam_BasharJebry" />
  <xs:element name="InsertABus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FinalExam_BasharJebry" minOccurs="0" name="bus" nillable="true" type="q1:InsertABus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertABusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertABusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateABus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FinalExam_BasharJebry" minOccurs="0" name="bus" nillable="true" type="q2:UpdateABus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateABusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateABusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBusInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBusInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FinalExam_BasharJebry" minOccurs="0" name="RetrieveBusInfoResult" nillable="true" type="q3:RetrieveBusInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteABus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FinalExam_BasharJebry" minOccurs="0" name="bus" nillable="true" type="q4:DeleteABus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteABusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteABusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindABus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FinalExam_BasharJebry" minOccurs="0" name="bus" nillable="true" type="q5:FindABus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindABusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FinalExam_BasharJebry" minOccurs="0" name="FindABusResult" nillable="true" type="q6:FoundRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FinalExam_BasharJebry" minOccurs="0" name="user" nillable="true" type="q7:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>