BOperationsClient_BasharJebry/Connected Services/ServiceReferenceDBOperations/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FinalExam_BasharJebry" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FinalExam_BasharJebry" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InsertABus">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusId" type="xs:int" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOfSeats" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertABus" nillable="true" type="tns:InsertABus" />
  <xs:complexType name="UpdateABus">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusId" type="xs:int" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOfSeats" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateABus" nillable="true" type="tns:UpdateABus" />
  <xs:complexType name="RetrieveBusInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataset" nillable="true" type="tns:ArrayOfBusInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveBusInfo" nillable="true" type="tns:RetrieveBusInfo" />
  <xs:complexType name="ArrayOfBusInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusInfo" nillable="true" type="tns:BusInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusInfo" nillable="true" type="tns:ArrayOfBusInfo" />
  <xs:complexType name="BusInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusId" type="xs:int" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOfSeats" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusInfo" nillable="true" type="tns:BusInfo" />
  <xs:complexType name="DeleteABus">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteABus" nillable="true" type="tns:DeleteABus" />
  <xs:complexType name="FindABus">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FindABus" nillable="true" type="tns:FindABus" />
  <xs:complexType name="FoundRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusId" type="xs:int" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOfSeats" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FoundRecord" nillable="true" type="tns:FoundRecord" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
</xs:schema>